.hero {
    height: 100vh;
    text-align: center;
}

.hero-section{
   
}

.hero-section h1{
    font-size: 9vw;
}

.point-desc{
    font-size: 7vw;
    margin-bottom: 170px;
} 

.year {
    font-size: 2vw;
    /* position: absolute; */
    /* right: 10%; */
    /* top: 31%; */
    vertical-align: super;
    margin-left: -1vw;
}

.hero-video {
    width: 217px;
    height: 261px;
    padding-bottom: 35px;
    margin: 0 auto;
}

.hero-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* gap: 558px; */
    align-items: self-end;
}
.information>*{
    flex:1;
}
.info1{
    text-align: left;
}
.info2{
    text-align: right;
}