@media (max-width:768px){
    .hero-section h1 {
    /* font-size: 86px; */
    }
    .hero-section {
        padding-top: 15vh;
        height: 100vh;
        box-sizing: border-box;
    }
    .year {
    
    }
  
   

    .information>* {
        /* flex: 1;
        flex: initial;
        width: 33.333%; */
    }
    .point-desc {
        /* font-size: 93px; */
        margin-bottom: 24px;
    }
    .information{
        display: grid;
        grid-template-columns: repeat(2,minmax(50px,1fr));
    }
    .info3 {
        grid-column: 1/3;
        order: 1;
        margin-bottom: 16rem;
    }
    .info1{
        text-align: left;
        order: 2;
    }
    .info2{
        text-align: right;
        order: 3;
    }

    .hero-video {
        
    }
}