.hero {
    /* height: 100vh; */
    text-align: center;
}

.hero-section .point-desc{
    color: var(--point-color);
}
.point-desc.year{
    color: #000;
}

.hero-section h1{
    font-size: 9vw;
}

.point-desc{
    font-size: 7vw;
    margin-bottom: 170px;
} 

.year {
    font-size: 2vw;
    /* position: absolute; */
    /* right: 10%; */
    /* top: 31%; */
    vertical-align: super;
    margin-left: -1vw;
    color: #000;
}

.hero-video {
    width: 217px;
    height: 261px;
    padding-bottom: 35px;
    margin: 0 auto;
}

.hero-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* gap: 558px; */
    align-items: self-end;
}
.information>*{
    flex:1;
}
.info1{
    text-align: left;
}
.info2{
    text-align: right;
}
.about-content h1 {
    font-size: 5vw;
    line-height: .9;
}
/* .about-content p{
    line-height: 1.5;
    font-size: 1rem;
} */
.about {
    margin-top: 12rem;
    display: flex;
    align-items: flex-start;
}

.about-content {
    flex: 9;
    position: sticky;
    left: 0;
    top: 3rem;
}

.about-txt{
    flex: 3;
}

.abtitle{
    margin-bottom: 1rem;
}

.txt-title{
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.txt1 {
    line-height: 1.5;
    margin-bottom: 1rem;
}
.txt2 {
    line-height: 1.5;
    margin-bottom: 6rem;
}
.biography{
    position: relative;
}
.biography-content {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
}
.biography-grid {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: "GFS Didot", serif;
}
.biography-content h1{
    font-size: 6rem;
    margin-bottom: 1rem;
}
.biography-content p {
    line-height: 1.5;
    font-size: 1rem;
    margin-bottom: 6rem;
}
.biography-grid p{
    font-size: 1.5rem;
}
.biography-grid div {
    display: flex;
    flex-direction: column;
}

.biography-grid span {
    font-size: 1rem;
}
.timeline-content{
    margin-top: 6rem;
}
.timeline-content>div:last-of-type{
    border-bottom:none!important;
}
.timeline-table {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid #000;
    gap: 1rem;
}
.tlyear {
    font-size: 6rem;
    padding-right: 0.7rem;
}

.content-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.timeline-table .tlyear{
    color: #A47864;
}
.skill {
    background-color: #000;
    color: #fff;
    padding: 6rem 0;
}
.skill .skti{
    font-size: 6rem;
    margin-bottom: 1rem;
}
.skilltitle h1+p {
    font-size: 1rem;
    margin-bottom: 6rem;
    line-height: 1.5;
}
.skill-content-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(50px,1fr));
    gap: 5rem 3rem;
}

.sk-txt{
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.sk-txt+p {
    line-height: 1.5;
    opacity: 0.8;
    font-weight: 300;
}
.popup-slider, .poster-slider{ 
    width: 100%;
}
.popup-slider h4{
    margin-top: 2rem;
    margin-bottom: .5rem;
}
.pop-tl {
    font-size: 6rem;
    margin-bottom: 1rem;
    /* color: var(--point-color); */
}
.popup-title p{
    line-height: 1.5;
    margin-bottom: 3rem;
}
.popup {
    padding: 6rem 0;
}
.sy{
    padding-top: 13rem;
}
.poster-slider .swiper-slide{
    padding-right: 1rem;
    border-right: 1px solid #d3d3d3;
    box-sizing: border-box;
}
.poster-title p{
    margin-bottom: 3rem;
    line-height: 1.5;
}
.poster-tl{
    font-size: 6rem;
    text-align: right;
    /* color: var(--point-color); */
}
.poster-tl+p{
    display: table;
    margin-left: auto;
}
.nb{
    font-size: 2rem;
}

/* .tebanner{
    background-color: #000;
    color: #fff;
} */

.te-tl{
    font-size: 6rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.te-tl+p{
    margin-bottom: 3rem;
    line-height: 1.5;
}

.tebanner figure{
    width: 100%;
    overflow: hidden;
}

.tebanner figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tebanner-dp{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.es-tl{
    font-size: 6rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
    line-height: 0.9;
}
.es-tl+p {
    margin-bottom: 3rem;
    line-height: 1.5;
}
.esbanner figure{
    width: 100%;
    overflow: hidden;
}
.esbanner figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.esbanner-dp{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.esbanner-dp >*{
    flex:1;
}
.poster-slider .swiper-slide h4{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.mo{
    display: none;
}
.nb{
    font-style: italic;
    color: var(--point-color);
}
.deco1 {
    font-style: italic;
    color: var(--point-color);
    /* font-weight: 700; */
    font-family: "GFS Didot", serif;
    font-size: 1.3rem;
}


.btn-menu-wrapper {
    position: sticky;
    left: 0;
    top: -2.5rem;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    z-index: 1000000;
}
.btn-menu {
    display: inline-flex;
    background: #000;
    color: #fff;
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    filter: drop-shadow(2px 4px 24px rgba(0,0,0,0.15));
}

.btn-menu span {
    position: sticky;
    top: 0.5rem;
}

.hidden-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(225, 225, 225, 0.839);
    z-index: 1111;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    backdrop-filter: blur(7px);
}
.gnb-hid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 3rem;
}
.hidden-menu {
    transition: all 0.8s ease 0s;
    opacity: 0;
    pointer-events: none;
    overflow: auto;
}
.hidden-menu.fadein{
    opacity: 1;
    pointer-events: auto;;
}
.pr-title{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.pr-title h3{
    font-size: 6rem;
    flex: 5;
}
.team-project{
    margin-top: 6rem;
}
.pr-title>p{
    flex: 5;
    display: flex;
    align-items: flex-end;

}
.project-sticky-menu{
    display: flex;
    gap: 1rem;
    position: sticky;
    left: 0;
    top: 1rem;
    margin-top: 4rem;
    justify-content: flex-start;
    margin-bottom: 2rem;
}
.project-sticky-menu a {
    display: block;
    background-color: #fff;
    padding: 0.5rem 2rem;
    border: 1px solid #000;
    border-radius: 50px;
    color: #000;
}
.project-sticky-menu a:hover{
    border: 1px solid #000;
    background-color: #FCFDF9;
    color: #000;
}
.pr2{
    margin-top: 6rem;
}
.contact{
    margin: 6rem auto;
    text-align: center;
}
.contact h1{
    font-size: 6rem;
}
.contact>p{
    margin-top: 1rem;
}
.contact-txt{
    margin-top: 2rem;
}
.contact-txt>p{
    margin-top: 0.5rem;
}


