@media (max-width:1024px){
    .hero-section h1 {
    /* font-size: 42px; */
    }
    .point-desc {
    /* font-size: 93px; */
    margin-bottom: 158px;
    }
    .year {
    /* font-size: 20px; */
    /* position: absolute; */
    /* right: 10%; */
    /* top: 31%; */
    /* vertical-align: super;
    margin-left: -20px; */
    }
    .hero-video {
        
    }
    .about-txt {
    flex: 8;
}
    .pr-title{
        flex-direction: column;
    }
}